.container {
    position: relative;
    overflow: hidden;
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    margin: .5em;
  }
.caption_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: .35s ease-out;
}
.container:hover .caption_overlay {
    transform: translateY(0);
}
.transform {
    transition-duration: 2s;
}
#captionTitleText {
    text-align: match-parent;
    max-width: 75%;
    display: inline-block;  
    margin: auto;  
    text-size-adjust: auto;
}
